@import '../styles/_mixins.scss';

.chat {
  margin-bottom: 10px;

  @include breakpoint(medium) {
    flex: 1 0 350px;
    margin: 5px;
    max-width: calc(50% - 10px);
  }

  @include breakpoint(large) {
    max-width: calc(33% - 10px);
  }
}
